<!doctype html>
<html>
    <head>
        <title>Squirrel Sightings Homepage</title>
    </head>

    <body>
        <h2>View the squirrels stats</h3>
        <a href='{%url 'sightings:stats'%}'>Squirrel statistics</a>

        <h2>Check out where the squirrels are</h3>
        <a href='/map'>Squirrel Map</a>

        <h2>Want to add a new squirrel?</h1>
        <a href='/sightings/add/'>Add it here!</a>
       
	<h2>Here are all the squirrels</h2>
        <ul>
            {% for squirrel in squirrels %}
	    <li>{{squirrel.Unique_squirrel_id}}
                <a href='/sightings/{{squirrel.Unique_squirrel_id}}/details'>Click to see details about this squirrel</a>
		<br>
                <a href='/sightings/{{squirrel.Unique_squirrel_id}}/'>Update this squirrel</a>
		<br>
            </li>
            {% endfor %}
        </ul>
        
        <br>
        <h2>Want to add a new squirrel?</h1>
        <a href='/sightings/add/'>Add it here!</a>
        <br>


    </body>
</html>

