<!doctype html>
<html>
    <head>
        <title>Squirrel Sightings Homepage</title>
    </head>

    <body>
        <h3>View the squirrels stats</h3>
        <a href='{%url 'sightings:stats'%}'>Squirrel statistics</a>

        <h3>Check out where the squirrels are</h3>
        <a href='/map'>Squirrel Map</a>

        <ul>
            {% for squirrel in Squirrels %}
            <li>

                <a href='/sightings/{{squirrel.Unique_squirrel_id}}/details'>Click to see details about this squirrel</a>
            <br>
                <a href='/sightings/{{squirrel.Unique_Squirrel_ID}}/'>Update this squirrel</a>

            </li>
            {% endfor %}
        </ul>
        
        <br>
        <h1>Want to add a new squirrel?</h1>
        <a href='/sightings/add/'>Add it here!</a>
        <br>


    </body>
</html>

