<!doctype html>
<html>
    <head>
        <title> Fun Stats about Squirrels </title>
    </head>
    
    <body>
        <ul>
            <li>There are {{Fact1}} squirrels in Central Park in total</li>
            <li>There are {{Fact2}} squirrels who have Cinnamon fur color in Central Park</li>
            <li>There are {{Fact3}} adult squirrels in Central Park</li>
            <li>{{Fact4}} squirrels are on ground plane</li>
            <li>{{Fact5}} squirrels are currently eating!</li>
        </ul>

    </body>
</html>
